<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.mvcgithublogin.repository.TechStackRepository">

    <resultMap id="techStackResultMap" type="com.project.mvcgithublogin.domain.TechStack">
        <id property="stackId" column="STACK_ID"/>
        <result property="stackName" column="STACK_NAME"/>
        <result property="categoryId" column="CATEGORY_ID"/>
    </resultMap>

    <select id="findByCategoryId" resultMap="techStackResultMap">
        SELECT STACK_ID, STACK_NAME, CATEGORY_ID
        FROM TECH_STACK
        WHERE CATEGORY_ID = #{categoryId}
        ORDER BY STACK_NAME
    </select>

    <select id="findAllStacks" resultMap="techStackResultMap">
        SELECT STACK_ID, STACK_NAME, CATEGORY_ID
        FROM TECH_STACK
        ORDER BY STACK_NAME
    </select>
</mapper>
